<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>devanshscenes - Batman - The Dark Knight (2008) - All Scenes Remux 4K - Justin.mp4</title>
    <meta name="title" content="devanshscenes - Batman - The Dark Knight (2008) - All Scenes Remux 4K - Justin.mp4">
    <meta name="description" content="Fast and reliable file hosting service.">
    <meta name="application-name" content="buzzheavier.com">
    <script src="/xz.js?v=833a92a768551be7aafba1068c8d9ffbbec5d7b5-dirty" defer></script>
    <link rel="stylesheet" href="/whysostylish.css?v=833a92a768551be7aafba1068c8d9ffbbec5d7b5-dirty">
    <link rel="stylesheet" href="/icons.css?v=833a92a768551be7aafba1068c8d9ffbbec5d7b5-dirty">
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
    <meta name="htmx-config" content='{"methodsThatUseUrlParams":["get"]}'>
</head>

<body
        class="min-h-screen p-1.5"
        hx-ext="response-targets"
        hx-ext="head-support">

    <div>
        <p class="text-center text-3xl font-bold mt-1 mb-0">BUZZHEAVIER</p>
        <p class="text-center mt-0">Fast and reliable file hosting service.</p>
    </div>

    <ul class="navbar text-center p-0 mb-7" hx-ext="preload">
        <li><a href="/" preload="mouseover">Index</a></li>
        <li><a href="/pricing" preload="mouseover">Pricing</a></li>
        <li><a href="/blog" preload="mouseover">Blog</a></li>
        <li><a href="/speedtest" preload="mouseover">Speedtest</a></li>
        <li><a href="/developers" preload="mouseover">Developers</a></li>
        <li><a href="/privacy" preload="mouseover">Privacy</a></li>
        <li><a href="/terms" preload="mouseover">Terms</a></li>
        <li><a href="/proxy" preload="mouseover">Proxy</a></li>
        <li><a href="/contact" preload="mouseover">Contact</a></li>
        <li><a href="/help" preload="mouseover">Help</a></li>
    </ul>

    <div class="max-w-2xl mx-auto" x-data="App()">
        <span class="text-2xl">devanshscenes - Batman - The Dark Knight (2008) - All Scenes Remux 4K - Justin.mp4</span>
        <ul>
            <li><strong>Direct:</strong>
                <a class="link-button gay-button" hx-get="/v6c42loco7av/download">Download</a></li>
            <li><strong>Preview:</strong>
                <a class="link-button gay-button" hx-get="/v6c42loco7av/preview" hx-swap="innerHTML" hx-target="#preview">Show in Browser</a>
            </li>
            <li><strong>Details:</strong> Size - 4.8GB | Views - 12 | Downloads - 7</li>
            <li><strong>SHA-1:</strong><code>ba55542e8b029acd0fb6cc1b301a53d7b89b41af</code></li>
        </ul>

        <p>If you think this file violates content policy, <a href="/contact?file=v6c42loco7av">report here</a></p>
        <div class="mt-4" id="preview"></div>

        <p>
            <span class="text-danger font-bold">All downloads happen in this fucking window.</span> <br>
            If you see any "Download" buttons in ads, be smart:<br>
            - Close that shit and come back here<br>
            - Real files are big, ads are tiny (just MBs)<br>
        </p>
    </div>

    <script>
        console.log(
            `
            Hi there! 👋
            If you're a developer working on an ad blocker and want to disable our ads,
            you can simply set window.adLink = null
            We respect user choice and privacy - this is just here to keep our service running.
            Thanks for understanding! 😊
            `,
        )
        window.adLink = 'aHR0cHM6Ly9maWxlZmxpY2suY2ZkL2VWaTdrTy12YmRoR1NoVXpKZlNCWE1RNzZoa0RGRzdvTmdWS2xlVG1KY3M='
    </script>

    <script>
        function App() {
            return {
                turnstileSuccess: false,
                init() {
                    window.turnstileCallback = () => {
                        this.turnstileSuccess = true
                    }
                    window.turnstileExpiredCallback = () => {
                        this.turnstileSuccess = false
                    }
                    window.turnstileReset = () => {
                        this.turnstileSuccess = false
                    }
                },
            }
        }
    </script>

    <div class="text-center text-danger mt-9">
        <div id="flash"></div>
    </div>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"947ba8179b2c3bf2","version":"2025.4.0-1-g37f21b1","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"c1361d0ed928439489c7829da1f19fac","b":1}' crossorigin="anonymous"></script>
</body>
</html>
